/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
li{
    list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


:root{
    --cor-primaria:hsl(158, 36%, 37%);
    --cor-primaria2: hsl(30, 38%, 92%);
    --cor-neutra: hsl(212, 21%, 14%);
    --cor-neutra2: hsl(228, 12%, 48%);
    --corneutra3:  hsl(0, 0%, 100%);
    --fs-body: 14px; 
    --ff-monster: 'Montserrat', sans-serif;
    --ff-frances: 'Fraunces', serif;
    --fw-bold: 700;

}

.cor-neutra2{
    color: var(--cor-neutra2);
}

.fw-bold{
    font-weight: var(--fw-bold);
}
.font-frances{
    font-family: var(--ff-frances);
}

.font-monster{
    font-family: var(--ff-monster);
}
.flex{
    display: flex;
    flex-direction: column;
}
body{
    display: grid;
    place-items: center;
    height: 100%;
    background-color: var(--cor-primaria2);
}

.container{
    max-width: 500px;
    margin-inline: auto;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    
}


h1{
    font-size: 1.9rem;
    color: var(--cor-neutra);
    line-height: 0.9;
    padding: 1px 0 1px 0;
}



h2 {
    letter-spacing: 0.12rem;
    color: var(--cor-neutra2);

}

.container{
    background-color: var(--corneutra3);
    
}  

.container-desc{
    padding: 1rem;
}
.prices{
    display: flex;
    gap: 16px;
}